<div class="cards-container">
    {% for item in sensors %}
        <div class="flip-card-container" itemid={{ item.id }}>
            <div class="flip-card">
                <div class="card-front {{ 'offline-indicator' if not item.status }}">
                    <img class="delete-card" src="../static/images/delete.jpeg" onclick="deleteSensor(this)"/>
                    <ul>
                        <li><span> <label>Field Name: </label> <br/> <input type="text" value="{{ item.name }}"/></span>
                        </li>
                        <li><span>  <label>Land Number: </label> <br/> <input type="number"> </span></li>
                        <li>Status: {{ 'ONLINE' if item.status else 'OFFLINE' }}</li>
                        <li>Battery Voltage: {{ '{0} V'.format(item.battery) if item.status else '---' }}</li>
                        <li>Temperature: {{ '{0} °F'.format(item.temp) if item.status else '---' }} </li>
                        <li>Water Level: {{ '{0} inches'.format(item.water) if item.status else '---' }} </li>
                        <li>Float: {{ 'UP' if item.float else 'DOWN' }}</li>
                        <li>Last seen: {{ item.last_update }}</li>
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

</html>