<div class="cards-container">
    {% for item in sensors %}
        <div class="flip-card-container" itemid={{ item.id }}>
            <div class="flip-card">
                <div class="card-front {{ 'offline-indicator' if not item.status }}">
                    <img class="delete-card" src="../static/images/delete.jpeg" onclick="deleteSensor(this)"/>
                    <ul>
                        <li class="sName">Sensor Name: {{ item.name }}</li>
                        <li><span><label>Land Number: </label> <br/> <input type="number"> </span></li>
                        <li class="sStatus">Status: {{ 'ONLINE' if item.status else 'OFFLINE' }}</li>
                        <li class="sBattery">Battery
                            Voltage: {{ '{0} V'.format(item.battery) if item.status else '---' }}</li>
                        <li class="sTemperature">
                            Temperature: {{ '{0} °F'.format(item.temp) if item.status else '---' }} </li>
                        <li class="sWater">Water
                            Level: {{ '{0} inches'.format(item.water) if item.status else '---' }} </li>
                        <li class="sFloat">Float: {{ 'UP' if item.float else 'DOWN' }}</li>
                        <li class="sLastSeen">Last seen: {{ item.last_update }}</li>
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

</html>