{% extends "base.html" %}
{% block content %}
    <script type="text/javascript">
        const jwtToken = "{{ jwt_token }}";
    </script>
    <link rel="stylesheet" href="../static/css/card.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
            integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script src="../static/js/home.js"></script>
    {% include 'card.html' %}
    <button id="moreSensors" type="button" class="btn btn-primary" onclick="loadMoreSensors()">More sensors</button>

{% endblock %}