{% extends "base.html" %}
{% block content %}
    <script type="text/javascript">
        const jwtToken = "{{ jwt_token }}";
        let page = 0;
    </script>
    <link rel="stylesheet" href="../static/css/card.css"/>
    <script src="../static/js/socket.io.js"></script>
    <script src="../static/js/sensors.js"></script>
    <script src="../static/js/sock.js"></script>
    <div class="cards-container">
        {% for item in sensors %}
            <div class="flip-card-container" itemid={{ item.id }}>
                <div class="flip-card">
                    <div class="card-front {{ 'offline-indicator' if not item.status }}">
                        <img class="delete-card" src="../static/images/delete.jpeg" onclick="deleteSensor(this)"/>
                        <ul>
                            <li class="sName">Sensor Name: {{ item.name }}</li>
                            <li>
                            <span>
                                <label>Land Number: </label> <br/> <input type="number" value="{{ item.land_number }}"
                                                                          onfocusout="updateLandNumber(this)"/>
                            </span>
                            </li>
                            <li class="sStatus">Status: {{ 'ONLINE' if item.status else 'OFFLINE' }}</li>
                            <li class="sBattery">Battery
                                Voltage: {{ '{0} V'.format(item.battery) if item.status else '---' }}</li>
                            <li class="sTemperature">
                                Temperature: {{ '{0} °F'.format(item.temperature) if item.status else '---' }} </li>
                            <li class="sWater">Water
                                Level: {{ '{0} inches'.format(item.water) if item.status else '---' }} </li>
                            <li class="sFloat">Float: {{ 'UP' if item.float else 'DOWN' }}</li>
                            <li class="sLastSeen">Last seen: {{ item.last_update }}</li>
                        </ul>
                        <span class="card-error">Land number already exists</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}