{% extends "base.html" %}
{% block content %}
    <script type="text/javascript">
        const jwtToken = "{{ jwt_token }}";
    </script>
    <link rel="stylesheet" href="../static/css/card-sensors.css"/>
    <link rel="stylesheet" href="../static/css/card-valves.css"/>
    <script src="../static/js/socket.io.js"></script>
    <script src="../static/js/valves.js"></script>
    <div class="cards-container">
        {% for item in valves %}
            <div class="flip-card-container" itemid={{ item.id }}>
                <div class="flip-card">
                    <div class="card-front {{ 'offline-indicator' if not item.status }}">
                        <img class="delete-card" src="../static/images/delete.jpeg" onclick="deleteSensor(this)"/>
                        <ul>
                            <li class="vName">Valve Name: {{ item.name }}</li>
                            <li class="vSetNumber">Set Number:</li>
                            <li>
                                <span>
                                    <label>Land Number: </label> <br/> <input type="number" value="{{ item.land_number }}"
                                                                              onfocusout="updateLandNumber(this)"/>
                                </span>
                            </li>
                            <li class="vStatus">Status: {{ 'ONLINE' if item.status else 'OFFLINE' }}</li>
                            <li class="vActuatorStatus">Actuator Status: {{ item.actuator_status if item.status else '---' }}</li>
                            <li class="vActuatorActualPosition">Actuator Actual
                                Position: {{ '---' if not item.status or item.actuator_status == 'Moving' else '{}%'.format(item.actuator_position) }}</li>
                            <li class="vActuatorSetPosition">
                                <span>
                                    <label>Actuator Set Position: </label>
                                    <input type="number" min="0" max="100"/>
                                    <button style="display: {{ '' if item.status else 'none' }}" class="btn btn-link" onclick="sendPosition(this)">Send</button>
                                </span>
                            </li>
                            <li class="vBattery">Battery
                                Voltage: {{ '{0} V'.format(item.battery) if item.status else '---' }}</li>
                            <li class="vTemperature">
                                Temperature: {{ '{0} °F'.format(item.temperature) if item.status else '---' }} </li>
                            <li class="vWater">Water
                                Level: {{ '{0} inches'.format(item.water) if item.status else '---' }} </li>
                            <li class="vLastSeen">Last seen: {{ item.last_update }}</li>
                        </ul>
                        <span class="card-error">Land number already exists</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}