/*overwrite the style from card-sensors.css*/

.flip-card-container {
    height: 610px;
}

.vActuatorSetPosition span button {
    margin-bottom: 5px;
}

.vActuatorSetPosition span input {
    background-color: gray;
    width: 60%;
}

.card-info {
    margin-top: 575px;
}

.calibrate {
    display: flex;
}

.calibrate button {
    margin-left: 40px;
    background-image: linear-gradient(-90deg, #4c4c4c, #2F4F4F);
}

.calibrate .calib-message {
    display: none;
    padding-top: 7px;
    margin-left: 20px;
    font-size: 14px;
    color: chartreuse;
}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px) {
    .flip-card-container {
        width: 600px;
    }

    .calibrate {
        margin-top: 10px;
    }

    .calibrate button {
        margin-left: 120px;
    }
}