body {
    overflow: scroll !important;
}

.box {
    padding: 3em 2em;
}

.hero-body .container {
    max-width: 80%;
}

tbody tr td {
    vertical-align: middle !important;
}

.panel-heading {
    height: 70px;
    padding-top: 20px;
    min-width: 822px;
}

.add_contact, .save_contacts {
    float: right;
    margin-left: 5px;
}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px) {
    .container {
        margin-left: 0;
    }

    .hero-body {
        padding-left: 0 !important;
        padding-top: 0;
    }

    #moreSensors {
        margin-left: 47%;
    }

    .hero-head img {
        display: none;
    }
}

.new_row .row_data.editable {
    background-color: #d3d3d3;
    height: 25px;
}

.form-group {
    margin: 30px 0;
}

.messages-error {
    background-color: #ff3860;
    margin-top: 15px;
    border-radius: 5px;
}

.messages-error p {
    padding: 5px;
    margin: 0;
}

#moreSensors {
    margin-left: 42%;
}

.dropdown-menu.show {
    max-height: 200px;
}

.row_data[col_name='cell_number'] {
    min-height: 15px;
    min-width: 10px;
}

.hero-head img {
    position: absolute;
    margin-left: 88%;
    margin-top: -55px;
    width: 200px;
    height: 200px;
}