{% extends "base.html" %}
{% block content %}
    <link rel="stylesheet" href="../static/bootstrap4/css/bootstrap-select.min.css">
    <script src="../static/bootstrap4/js/bootstrap-select.min.js"></script>
    <script type="text/javascript">
        const jwtToken = "{{ jwt_token }}";
    </script>
    <link rel="stylesheet" href="../static/css/card-sensors.css"/>
    <link rel="stylesheet" href="../static/css/card-valves.css"/>
    <script src="../static/js/socket.io.js"></script>
    <script src="../static/js/checks.js"></script>
    <div class="calibrate">
        <button type="button" class="btn btn-secondary" onclick="calibrateChecks()">Calibrate checks</button>
        <span class="calib-message"></span>
    </div>
    <div class="cards-container">
        {% for item in checks %}
            <div class="flip-card-container" itemid={{ item.id }}>
                <div class="flip-card">
                    <div class="card-front {{ 'offline-indicator' if not item.status }}">
                        <img class="delete-card" src="../static/images/delete.jpeg" onclick="deleteCheck(this)"/>
                        <ul>
                            <li class="cName">Check Name: {{ item.name }}</li>
                            <li class="cSetNumber"><span>Set Number:</span>
                                <select class="selectpicker show-tick" data-style="btn-info" onchange="updateSetNumber(this)">
                                    <option value=""> {{ "Select" }}</option>
                                    {% for s in sets %}
                                        {% if s.id == item.set_id %}
                                            <option value="{{ s.id }}" selected>{{ s.number }}</option>
                                        {% else %}
                                            <option value="{{ s.id }}">{{ s.number }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </li>
                            <li class="cStatus">Status: {{ 'ONLINE' if item.status else 'OFFLINE' }}</li>
                            <li class="cActuatorStatus">Actuator
                                Status: {{ item.actuator_status if item.status else '---' }}</li>
                            <li class="cActuatorActualPosition">Actuator Actual
                                Position: {{ '---' if not item.status or item.actuator_status == 'Moving' else '{}%'.format(item.actuator_position) }}</li>
                            <li class="cActuatorSetPosition">
                                <span>
                                    <label>Actuator Set Position: </label>
                                    <input type="number" min="0" max="100"/>
                                    <button style="display: {{ '' if item.status else 'none' }}" class="btn btn-link"
                                            onclick="sendPosition(this)">Send</button>
                                </span>
                            </li>
                            <li class="cBattery">Battery
                                Voltage: {{ '{0} V'.format(item.battery) if item.status else '---' }}</li>
                            <li class="cTemperature">
                                Temperature: {{ '{0} °F'.format(item.temperature) if item.status else '---' }} </li>
                            <li class="cWater">Water
                                Level: {{ '{0} inches'.format(item.water) if item.status and item.water else '---' }} </li>
                            <li class="cLastSeen">Last seen: {{ item.last_update }}</li>
                        </ul>
                        <span class="card-info">Set number updated</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}