{% extends "base.html" %}
{% block content %}
    <link rel="stylesheet" href="../static/bootstrap4/css/bootstrap-select.min.css">
    <script src="../static/bootstrap4/js/bootstrap-select.min.js"></script>
    <link href="../static/css/dashboard.css" rel="stylesheet">
    <script src="../static/js/socket.io.js"></script>
    <script src="../static/js/dashboard.js"></script>
    <script>
        const jwtToken = "{{ jwt_token }}";
        const run_time = "{{ run_time }}";
        if (run_time !== "None") {
            runTimePrep(run_time);
        }
    </script>

    <table class="table table-bordered table-dark" id="main-table">
        <tbody>
        <tr style="font-weight: bold">
            <td>SET</td>
            <td>LAND</td>
            <td>VALVE #</td>
            <td>TYPE</td>
            <td>SET POINT</td>
            <td>PREFLOW POINT</td>
            <td>VOLTAGE</td>
            <td>TEMPERATURE</td>
            <td>POSITION</td>
            <td>STATUS</td>
        </tr>
        {% for set in sets %}
            {% for land in set.lands %}
                {% for valve in land.valves %}
                    <tr valve-id="{{ valve.id }}" class="colored">
                        <td class="set-land">{{ set.number }}</td>
                        <td class="set-land">{{ land.number }}</td>
                        <td class="vName">{{ valve.name }}</td>
                        <td>Valve</td>
                        {% for valve_config in valve.valve_configs %}
                            {% if valve_config.config.name == config_name %}
                                <td>{{ valve_config.run }}%</td>
                                <td>{{ valve_config.preflow }}%</td>
                            {% endif %}
                        {% endfor %}
                        <td class="vBattery">{{ valve.battery }} V</td>
                        <td class="vTemperature">{{ valve.temperature }} °F</td>
                        <td class="vActuatorActualPosition">{{ valve.actuator_position }}%</td>
                        <td class="vActuatorStatus">{{ valve.actuator_status }}</td>
                    </tr>
                {% endfor %}
                {% for check in set.checks %}
                    <tr check-id="{{ check.id }}">
                        <td class="set-land">{{ set.number }}</td>
                        <td class="set-land">---</td>
                        <td class="cName">{{ check.name }}</td>
                        <td>Check</td>
                        {% for check_config in check.check_configs %}
                            {% if check_config.config.name == config_name %}
                                <td>{{ check_config.run }}%</td>
                                <td>{{ check_config.start }}%</td>
                            {% endif %}
                        {% endfor %}
                        <td class="cBattery">{{ check.battery }} V</td>
                        <td class="cTemperature">{{ check.temperature }} °F</td>
                        <td class="cActuatorActualPosition">{{ check.actuator_position }}%</td>
                        <td class="cActuatorStatus">{{ check.actuator_status }}</td>
                    </tr>
                {% endfor %}
                <tr class="sensors">
                    <td>{{ set.number }}</td>
                    <td>{{ land.number }}</td>
                    {% for sensor in land.sensors %}
                        <td sensor-id="{{ sensor.id }}">{{ sensor.name }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>

    <div class="wrp">
        <div>
            <table class="table table-striped table-dark" id="slider-table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Set</th>
                    <th scope="col">Land</th>
                    <th scope="col">Valve</th>
                    <th scope="col">Position</th>
                </tr>
                </thead>
                <tbody>
                {% for set in sets %}
                    {% for land in set.lands %}
                        {% for valve in land.valves %}
                            <tr>
                                <td>{{ set.number }}</td>
                                <td>{{ land.number }}</td>
                                <td>{{ valve.name }}</td>
                                <td>
                                    <span class="slider-position">{{ valve.actuator_position }}</span>
                                    <input valve_config-id="{{ valve.id }}" type="range" min="0" max="100"
                                           value="{{ valve.actuator_position }}"
                                           class="slider"
                                           onchange="sendPosition(this, 'v')" oninput="displayPosition(this)">
                                </td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>

            <table class="table table-striped table-dark" id="slider-table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Set</th>
                    <th scope="col">Check</th>
                    <th scope="col">Position</th>
                </tr>
                </thead>
                <tbody>
                {% for set in sets %}
                    {% for check in set.checks %}
                        <tr>
                            <td>{{ set.number }}</td>
                            <td>{{ check.name }}</td>
                            <td>
                                <span class="slider-position">{{ check.actuator_position }}</span>
                                <input check_config-id="{{ check.id }}" type="range" min="0" max="100"
                                       value="{{ check.actuator_position }}"
                                       class="slider"
                                       onchange="sendPosition(this, 'c')" oninput="displayPosition(this)">
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div>
            <div class="run-time">Total run time:
                <span class="cont-display" style="display: {{ 'none' if not run_time else '' }}">
                        <span class="h"></span>h
                        <span class="m"></span>min
                        <span class="s"></span>sec
                    </span>
                <span class="cont-hide" style="display: {{ 'none' if run_time else '' }}">---</span>
            </div>
            <div class="btns">
                <button type="button" id="startBtn" class="btn btn-dark btn-lg" {{ 'disabled' if is_autorun else '' }}
                        onclick="startSystem()">Start
                </button>
                <button type="button" id="stopBtn"
                        class="btn btn-dark btn-lg" {{ 'disabled' if not is_autorun else '' }} onclick="stopSystem()">
                    Stop
                </button>
                <button type="button" id="pauseBtn"
                        class="btn btn-dark btn-lg" {{ 'disabled' if not is_autorun else '' }}
                        onclick="pauseSystem()">
                    {% if is_paused %}
                        Unpause
                    {% else %}
                        Pause
                    {% endif %}
                </button>
            </div>
        </div>

    </div>
{% endblock %}


{#blue for preflow#}