{% extends "base.html" %}
{% block content %}
    <h5>Available labels</h5>
    {% for label in labels %}
        <span class="badge badge-pill badge-dark ml-2">{{ label.name }}</span>
    {% endfor %}

    {% with errors = get_flashed_messages() %}
        {% if errors %}
            <div class="messages-error">
                {% for error in errors %}
                    <p>
                        {{ error }}
                    </p>
                {% endfor %}
            </div>

        {% endif %}
    {% endwith %}

    <form method="post">
        {% for message in messages %}
            <div class="form-group">
                <label>
                    {{ message.mess_type[0] | upper }}{{ message.mess_type[1:] }}{{ '/Check' if message.mess_type == 'valve' }}
                    {{ message.name[0] | upper }}{{ message.name[1:] }} Message</label>
                <input class="form-control" name="{{ '{}_{}'.format(message.name, message.mess_type) }}"
                       value="{{ message.message }}">
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
{% endblock %}