{% extends "base.html" %}
{% block content %}
    <script type="text/javascript">
        const jwtToken = "{{ jwt_token }}";
    </script>
    <script src="../static/js/sets.js"></script>
    <link rel="stylesheet" href="../static/css/sets.css"/>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger" style="width: 40%">
                {{ messages[0] }}
            </div>
        {% endif %}
    {% endwith %}
    <div class="input-group mb-3">
        <div class="add-set-container">
            <div class="input-group-prepend" style="width: 40%">
                <label class="input-group-text">Configurations</label>
            </div>
            <select class="custom-select" id="config_select" required onchange="changeConfig(this)">
                <option value="">Choose</option>
                {% for config in configs %}
                    {% if config.name == config_name %}
                        <option value="{{ config.name }}" selected>{{ config.name }}</option>
                    {% else %}
                        <option value="{{ config.name }}">{{ config.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-danger btn-sm" style="margin-left: 20px" onclick="deleteConfig()">Delete current config
        </button>
    </div>

    <form method="post">
        <div class="add-set-container">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">New configuration</span>
                </div>
                <input class="form-control" name="config_name" required>
            </div>
            <button type="submit" class="btn btn-success btn-sm">Add configuration</button>
        </div>
    </form>
    {% if config_name %}
        <form method="post" action="/config_set">
            <div class="add-set-container">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Set number</span>
                    </div>
                    <input type="number" class="form-control" name="set_number" min="1" max="100" required>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Lands</label>
                    </div>
                    <select class="custom-select" name="land_id" required>
                        <option value="">Choose</option>
                        {% for item in lands %}
                            <option value="{{ item.id }}">{{ item.number }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-success btn-sm">Add set</button>
            </div>
        </form>

        <div id="update-message"></div>
        <div>
            <div class="set-container-header">
                <span>Set</span>
                <span>Land</span>
                <span>Autorun</span>
                <span>Valve</span>
                <span>Preflow (%)</span>
                <span>Run (%)</span>
                <span>Sensors</span>
                <span>Delay (min)</span>
            </div>
            {% for set in sets %}
                {% for land in set.lands %}
                    <div class="set-container" land-id="{{ land.id }}" set-id="{{ set.id }}">
                        <span>{{ set.number }}</span>
                        <span>{{ land.number }}</span>
                        <span>
                            <label class="switch">
                                <input type="checkbox" {{ "checked" if land.autorun else '' }}
                                       onchange="updateAutorun(this, '{{ land.number }}', 'v')">
                                <span class="slider round"></span>
                            </label>
                        </span>
                        <span>
                            {% for valve in land.valves %}
                                <p>{{ valve.name }}</p>
                            {% endfor %}
                        </span>
                        <span>
                            {% for valve in land.valves %}
                                {% for valve_config in valve.valve_configs %}
                                    {% if valve_config.config.name == config_name %}
                                        <span valve_config-id="{{ valve_config.id }}">
                                            <input type="number" min="0" max="100" value="{{ valve_config.preflow }}"
                                                   onfocusout="updateStartPreflow(this, '{{ valve.name }}', 'v')"/>
                                        </span>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </span>
                        <span>
                            {% if not land.valves %}
                                -------
                            {% endif %}
                            {% for valve in land.valves %}
                                {% for valve_config in valve.valve_configs %}
                                    {% if valve_config.config.name == config_name %}
                                        <span valve_config-id="{{ valve_config.id }}">
                                            <input type="number" min="0" max="100" value="{{ valve_config.run }}"
                                                   onfocusout="updateRun(this, '{{ valve.name }}', 'v')"/>
                                        </span>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </span>
                        <span>
                            {% if not land.sensors %}
                                -------
                            {% endif %}
                            {% for sensor in land.sensors %}
                                <p>{{ sensor.name }}</p>
                            {% endfor %}
                        </span>
                        <span>
                            <img class="delete-card" src="../static/images/delete.jpeg" onclick="deleteSet(this)"/>
                            {% if not land.sensors %}
                                <input type="number" min="0" value="{{ land.delay }}"
                                       onfocusout="updateLandDelay(this, '{{ land.id }}')"/>
                            {% endif %}
                            {% for sensor in land.sensors %}
                                {% for sensor_config in sensor.sensor_configs %}
                                    {% if sensor_config.config.name == config_name %}
                                        <span sensor_config-id="{{ sensor_config.id }}">
                                        <input type="number" min="0" value="{{ sensor_config.delay }}"
                                               onfocusout="updateSensorDelay(this, '{{ sensor.name }}')"/>
                                    </span>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </span>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

        <div>
            <div class="set-container-header checks">
                <span>Set</span>
                <span>Autorun</span>
                <span>Check</span>
                <span>Start (%)</span>
                <span>Run (%)</span>
                <span>Before / After</span>
            </div>
            {% for set in sets %}
                <div class="set-container checks" set-id="{{ set.id }}">
                    <span>{{ set.number }}</span>
                    <span>
                        <label class="switch">
                            <input type="checkbox" {{ "checked" if set.autorun else '' }}
                                   onchange="updateAutorun(this, '{{ set.number }}', 'c')">
                            <span class="slider round"></span>
                        </label>
                    </span>
                    <span>
                        {% for check in set.checks %}
                            <p>{{ check.name }}</p>
                        {% endfor %}
                    </span>
                    <span>
                        {% for check in set.checks %}
                            {% for check_config in check.check_configs %}
                                {% if check_config.config.name == config_name %}
                                    <span check_config-id="{{ check_config.id }}">
                                        <input type="number" min="0" max="100" value="{{ check_config.start }}"
                                               onfocusout="updateStartPreflow(this, '{{ check.name }}', 'c')"/>
                                    </span>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </span>
                    <span>
                        {% for check in set.checks %}
                            {% for check_config in check.check_configs %}
                                {% if check_config.config.name == config_name %}
                                    <span check_config-id="{{ check_config.id }}">
                                        <input type="number" min="0" max="100" value="{{ check_config.run }}"
                                               onfocusout="updateRun(this, '{{ check.name }}', 'c')"/>
                                    </span>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </span>
                    <span>
                        {% for check in set.checks %}
                            {% for check_config in check.check_configs %}
                                {% if check_config.config.name == config_name %}
                                    <span>
                                        <label class="switch">
                                            <input type="checkbox" {{ "checked" if check_config.before_after else '' }}
                                                   onchange="updateBeforeAfter(this, {{ check_config.id }}, '{{ check.name }}')">
                                            <span class="slider round"></span>
                                        </label>
                                    </span>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </span>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}